<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% block content %}
    <h1>Welcome to MINI Amazon by Xuan and Jie!</h1>

    <br>
    <h2>Account Info</h2>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>
            <p>Every amount you buy you will get 10 credit!</p>
            Now you have Credit: {{ amazonuser.credit }}
        </li>
    </ul>
    <br>

    <h3>You have these options:</h3>
    <a href="{% url 'webserver:buyProduct' user.id %}">Buy some product</a>
    <a href="{% url 'webserver:query' user.id %}">Check all your packages</a>
    <a href="{% url 'webserver:logout' %}">Log out</a>
    {% endblock %}
</body>
</html>
