<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Page</title>
</head>
<body>
    {% block content %}
    <h2>Welcome to MINI Amazon by Xuan and Jie!</h2>
    <h4>List of packages that related to you:</h4>

    {% if packages|length > 0 %}
    <ul>
        <h6>Here are the packages you have:</h6>
        {% for package in packages %}
        <li>
            <p>Package ID: {{ package.package_id }}</p>
            <p>Purchase Date(EST): {{ package.date }}</p>
            <p>Item ID: {{ package.product_name }}</p>
            <p>Item Count: {{ package.count }}</p>
            <p>Destination: x={{ package.x }} y={{ package.y }}</p>
            <a href="{% url 'webserver:querypackage' user.id package.package_id %}">Check status for this package</a>
            <br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h4>You have no ongoing package yet (or your packages are in the process of being initialized).</h4>
    {% endif %}

    <a href="{% url 'webserver:dashboard' user.id %}">Back to dashboard</a>

    {% endblock %}
</body>
</html>
