{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Result</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webserver/cwh.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
    <h2>Welcome to MINI Amazon by Xuan and Jie!</h2>
    <h4>The status of your package:</h4>

    <p>{{ package.status }}</p>

    {% if ratable %}
    <br>
    <p>Please rating your item from 1 to 5: </p>
    <div class="form-wrapper">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-wrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="button-wrapper submit">
                    <p><input type="submit" value="Submit Rate"></p>
            </div>
        </form>
    </div>
    {% endif %}

    {% if showable %}
    <br>
    <p>And your rating for this item is: {{ package.rating }}</p>
    {% endif %}

    {% if returnable %}
    <br>
    <a href="{% url 'webserver:returnProduct' user.id package.package_id %}">Return and refund</a>
    {% endif %}

    {% if package.returned %}
    <p>This product has been returned and refunded. The credit has been deducted from you account.</p>
    {% endif %}

    <a href="{% url 'webserver:dashboard' user.id %}">Back to dashboard</a>

    {% endblock %}
</body>
</html>
